# Python
__pycache__/
*.pyc
*.pyo
*.log

# Environment and secrets
.env
*.env

# Data files
temp_following.txt
unfollowed_users.txt
whitelist_file.txt

*.json

# VSCode or IDE stuff
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

